@import "tailwindcss";

@theme {
  --color-primary: #c8652b;
  --color-accent: #ffd700;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
}

/* Custom Utilities if needed */
.text-stroke {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
}

/* Lenis Smooth Scroll */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}